body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-attachment: fixed;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #465572;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: capitalize;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #4d6593;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.btn-primary {
  background: #465572;
  border: #465572;
}

.btn-primary:hover {
  color: #ffffff;
  background: #465572;
  opacity: 0.9;
  cursor: pointer;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #ffffff;
}

.overview {
  margin: 20px 20px;
}

.form {
  padding: 0 10px 0 30px;
}

.weather-temperature {
  padding: 20px 0px 10px 20px;
}

.weather-detail {
  padding: 20px 0px 10px 0px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #081833;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #081833;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  padding: 40px 0 20px 0;
  text-align: center;
  color: #081833;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
  padding: 10px;
}

.weather-forecast-temperatures {
  font-size: 16px;
  padding: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.footer {
  padding: 20px;
  text-align: center;
}
